.recipe-card-root .recipe-card-info {
    background-color: var(--background);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 140px;
    padding: 4.5px;
}

.recipe-card-root .card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.recipe-card-root .image-button {
    position: relative;
}

.recipe-card-root .fav-button {
    position: absolute;
    bottom: 10px;
    left: 5px;
}

.recipe-card-root img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 150px;
    height: 150px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.recipe-card-root .recipe-card-info {
    text-align: center;
    flex-grow: 2;
    width: 145px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.recipe-card-root .recipe-card-info {

    position: relative;
    max-width: 300px;
}

.recipe-card-root .hidden {
    opacity: 0;
    transition: opacity 1s, transform 1s;
}

.recipe-card-root:hover .hidden {
    opacity: 1;
}

.recipe-card-root .x {
    color: red;
    background-color: var(--background);
    border-radius: 50%;
    cursor: pointer;
    font-size: 22pt;
    position: absolute;
    top: -10px;
    right: -5px;
}

.card-link:link {
    text-decoration: none;
}

.card-link:visited {
    text-decoration: none;
}

.card-link:hover {
    text-decoration: underline;
}

.card-link:active {
    text-decoration: underline;
}