.home-title {
    text-align: center;
    text-shadow: 1px 1px 1px var(--pink), 2px 2px 2px var(--pink);
}

.home-title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.home-title:after,
.home-title:before {
    content: " ";
    display: block;
    border-bottom: 3px double var(--pink);
    border-top: 3px double var(--pink);
    height: 5px;
    background-color: var(--beige);
}