.home-title {
    text-align: center;
    text-shadow: 1px 1px 1px var(--pink), 2px 2px 2px var(--pink);
}

.home-title {
    text-align: center;
    font-size: 34px;
    letter-spacing: 4px;
}

.App {
    position: relative;
}